{{ $image := partial "get-page-cover.html" . }}
{{ $date := .Date.Format "Mon, Jan 2, 2006" }}

<article class="post-card">
	{{ if $image }}
	<a class="post-preview" href="{{ .Permalink }}">
		<img src="{{ $image }}" alt="" width="180px">
	</a>
	{{ end }}
	<div class="post-body">
		<div class="post-meta">
			<h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
			<time datetime="{{ $date }}">{{ $date }}</time> - <i>{{ .ReadingTime }} Min. Read</i>
		</div>
		<div class="post-summary">
			<p>{{ .Summary }}...</p> <br>
			<div class="post-action">
				{{ partial "tags.html" . }}	
				<a href="{{ .Permalink }}"><nobr>Read More →</nobr></a>
			</div>
		</div>
	</div>
</article>
