:root {
  --bg: #fefefe;
  --fg: #444;
  --link: #0645ad;
  --link-v: #0b0080;
  --link-h: #06e;
  --bg-grey: #eee;
  --dark-grey: #999;
  --ttb-rotation: rotate(0deg);
}

[data-theme="dark"] {
  --bg: #222;
  --fg: #fefefe;
  --link: #4d7dcb;
  --link-v: #99a5d3;
  --link-h: #4c7ecf;
  --bg-grey: #333;
  --dark-grey: #333;
  --ttb-rotation: rotate(180deg);
}

body {
  color: var(--fg);
  background-color: var(--bg);
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin: auto;
}

main, nav, footer, .post-header {
  max-width: 45rem;
  margin: auto; 
  padding-left: 7.5px;
  padding-right: 7.5px;
}

a {
  color: var(--link);
  cursor: pointer;
  &:visited { color: var(--link-v); }
  &:hover, &:active { color: var(--link-h); }
}

h1, h2, h3, h4, h5, h6 {
  color: var(--fg);
}

table {
  table-layout:fixed;
  border-collapse:collapse;
  width:100%;
  margin:40px 0;
}

table, td, th {
  border: 1px solid var(--fg);
  padding: 10px;
}

th {
  color: var(--fg);
}

.cover {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &:before {
  	  position: absolute;
  	  content: ' ';
  	  width: 100%;
  	  height: 500px;
  	  background-color: rgba(0,0,0,.5);
  }
}

nav {
  	display: flex;
  	position: relative;
  	padding-top: 15px;
  	font-family: "Open Sans", sans-serif;
  	font-size: 19px;
  	letter-spacing: -1px;
  	justify-content: space-between;
  	@media screen and (max-width: 506px) {
  		justify-content: center;
  	}
  	flex-wrap: wrap;
  	.logo {
  		align-self: center;
  		font-weight: bold;
  	}
  	.main-menu {
  		margin: 0;
  		padding: 0;
  		li {
  	  		display: inline-block;
  	  		padding: 15px;
  	  		list-style: none;
		}
  	}
	&.simple a { color: var(--fg); }
	&.hero a { color: #fefefe; }
  	a { text-decoration: none; }
}

.content {
  margin-bottom: 2rem;
}

.post-snippet {
  margin-bottom: 1rem;

  h3 {
    margin-bottom: 0.25rem;
  }
}

.highlight {
  table {    
    display: block;
    overflow-x: auto;
  }
  pre {    
   margin: 0;
   padding: 10px;
   font-size: .9em;
   code {
     margin-right: 8px;
     display: inline-block;
   }
 }
}

.copy-code-button {  
  color: #272822;
  background-color: #FFF;
  border-color: #272822;
  border: 2px solid;
  border-radius: 3px 3px 0px 0px;
  /* right-align */
  display: block;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: -2px;
  padding: 3px 8px;
  font-size: 0.8em;
  &:hover {    
    cursor: pointer;
    background-color: #F2F2F2;
  }
  &:focus { 
    background-color: #E6E6E6;
    outline: 0;
  }
  &:active {
    background-color: #D9D9D9;
  }
}

.code-block {
  margin-top: 15px;
}

// A button to change the color of the page
.theme-toggle-btn svg {
	&.simple {
    	fill: var(--fg);
    	vertical-align: sub;
    	// --ttb stands for toggle-theme-btn
    	transform: var(--ttb-rotation) translateZ(0);
	}
	&.hero {
		@extend svg.simple;
    	fill: #fefefe;
	}
}

// The h1 for the post
.post-header {
	top: 7rem;
	display: flex;
	left: 0;
	right: 0;
	height: 300px;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	line-height: 45px;
	font-family: "Merriweather", serif;
	letter-spacing: -2px;
	h1 {
		margin: 0px;
		padding: 10px;
		font-style: normal;
		font-weight: 900;
		font-size: 3rem;
		overflow: hidden;
	}
	.post-metadata {
		font-style: italic;
		font-weight: 300;
		font-size: 1.5rem;
		margin: -5px;
	}
	&.simple {
		h1, a, .post-metadata {
			color: var(--fg);
			text-decoration: none;
		}
	}
	&.hero {
		position: absolute;
		h1, a, .post-metadata {
			color: #fefefe;
			text-decoration: none;
		}
	}
}

footer {
	text-align: center;
	padding-bottom: 15px;
	font-size: 16px;
	a { text-decoration: none; }
}


.posts-list {
	list-style: none;
	* a { text-decoration: none; }
	padding-left: 40px;
	padding-right: 40px;
 	.post-card  {
		display: flex;
		margin-bottom: 30px;
		border: dashed 2px var(--fg);
		border-radius: 3px;
		.post-preview {
			display: inherit;
			width: 180px;
		}
		.post-body {
			width: 100%;
			background: var(--bg);
			text-align: justify;
			padding: 15px;
			line-height: 22px;
			list-style: none;
			* { margin: 0 }
			.post-meta{
				padding-bottom: 10px;
			}
		}
		.post-action {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			line-height: 35px;
			a {
				margin-left: auto;
			}
		}
  		@media screen and (max-width: 506px) {
  			&.post-card {
  				flex-wrap: wrap;
  				a, img { flex: auto; }
  			}
  		}
	}
}
